#extends Templates.Page
#def title: Changelog

#def content
<h1>Changelog</h1>

The <a href="http://fretsonfire.svn.sourceforge.net/viewvc/fretsonfire/trunk/changelog.txt">changelog</a> can be found in the source control repository.

#end def
