#extends Templates.Page
#def title: Documentation

#def content
<h1>How to play the game</h1>

<p>
  First of all, these are the keys you'll need to navigate the menus:
</p>

<dl>
   <dt>Arrow keys<dt>
   <dd>Change menu selection</dd>

   <dt>Enter</dt>
   <dd>Accept</dd>

   <dt>Escape</dt>
   <dd>Cancel<dd>
</dl>

<p>
  These keys are used in the game itself:
</p>

<dl>
    <dt>F1-F5</dt>
    <dd>Frets one through five</dd>

    <dt>Enter</dt>
    <dd>Pick</dd>
</dl>

<p>
  Note that these keys are default keys and they can be changed
  from the game settings menu.
</p>

<p>
  The easiest way to learn to play the game is to watch the tutorial.
  The basic idea is to press and hold the approriate frets when notes
  appear and tap the pick button when the notes hit the row of keys at
  the bottom of the screen. With longer notes, you need to hold the frets
  down for the whole duration.
</p>

<p>
  You get points for hitting notes. For each ten correctly played
  notes, your score multiplier increases up to four times. If you make
  a mistake, the score multiplier is reset back to one. For long notes,
  the longer you hold down the frets the more points you get. Chords award
  you twice the points of normal notes.
</p>

#end def
