#extends Templates.Page
#encoding: utf-8
#def title: Frets On Fire

#def content
<p class="logoContainer">
  <a href="/"><img id="logo" src="logo.png" alt="Frets On Fire"/></a>
</p>

<div class="paneContainer">

<div class="pane">
  <h1>Download for Windows</h1>

  <p>Version 1.3.110:</p>
  <ul>
    <li>$sfLink("FretsOnFire-1.3.110-win32.exe", "Full version installer")</li>
    <li>$sfLink("FretsOnFire-1.3.110-win32.zip", "Full version ZIP archive")</li>
    <!--<li>$sfLink("FretsOnFire-1.3.110-win32.zip", "Update for previous version")</li>-->
  </ul>
</div>

<div class="pane">
  <h1>Download for Linux</h1>

  <p>Version 1.3.110:</p>
  <ul>
    <li>$sfLink("FretsOnFire-1.3.110.tar.gz", "Full version")</li>
  </ul>
</div>

<div class="pane">
  <h1>Download for Mac OS X</h1>

  <p>Version 1.3.110:</p>
  <ul>
    <li>$sfLink("FretsOnFire-1.3.110-macosx.zip", "Full version")</li>
  </ul>
</div>

<div class="pane">
  <h1>Bonus content</h1>

  <ul>
    <!--<li><a href="charts/">World Charts</a></li>-->
    <li><a href="http://tommyinkila.com/content/fretsonfire">Three Seconds' Symphony</a> by <a href="http://tommyinkila.com">Tommy Inkila</a></li>
    <li><a href="http://scenerychannel.com/fof.html">Fasten Me</a> by <a href="http://www.scenerychannel.com">Scenery Channel</a></li>
    <li><a href="http://www2.jazzzmedia.com/rjmf_fof.htm">American Radio</a> by <a href="http://www2.jazzzmedia.com/rjmf.htm">Rusty Jaz MotorFunk</a></li>
    <li><a href="http://www.mhalo.com/mhalo/music/files/When_Im_Ready.zip">When I'm Ready</a> by <a href="http://www.mhalo.com">M-Halo</a></li>
    <li><a href="bonus/">More...</a></li>
  </ul>
<p>
</div>

</div>

#end def
