#extends Templates.Page
#def title: Modding guide

#def content
<h1>Modding guide</h1>

Many aspects of the game are designed to be customized. Here are some guides to help you with that:

<ul>
  <li><a href="collection">Song collection customization</a></li>
  <li><a href="stage">Stage graphics customization</a></li>
  <li><a href="graphics">Making custom graphics</a></li>
  <li><a href="mods">Making mods</a></li>
  <li><a href="translation">Translating the game</a></li>
</ul>

#end def
