#extends Templates.Page
#def title: Source code guide

#def content
<h1>Source code guide</h1>

You can find the source code for each game release from the <a
href="http://sourceforge.net/project/showfiles.php?group_id=182199">SourceForge
files page</a>. Alternatively, you may use the following command to check out
the latest source code snapshot from <a
href="http://sourceforge.net/svn/?group_id=182199">the Subversion
repository</a>:

<pre>
svn co https://fretsonfire.svn.sourceforge.net/svnroot/fretsonfire/trunk fretsonfire
</pre>

To run the game, enter the <strong>src</strong> directory and type <strong>python
FretsOnFire.py</strong>.

Currently we offer precompiled binaries for Windows, Linux x86 and Mac OS X (Intel).

<h1>Requirements</h1>

The game source code has the following dependencies:

<ul>
  <li>
    <a href="http://www.python.org">Python 2.4 or newer</a> (The game is written in the Python programming language)
  </li>
  <li>
    <a href="http://www.pygame.org">PyGame</a> (PyGame provides access to video and audio hardware, among other things)
  </li>
  <li>
    <a href="http://pyopengl.sourceforge.net">PyOpenGL</a> (Provides OpenGL functions for Python)
  </li>
  <li>
    <a href="http://numpy.scipy.org/">numpy</a> (Matrix math routines)
  </li>
  <li>
    <a href="http://www.pythonware.com/products/pil/">Python Imaging Library</a> (Image manipulation routines)
  </li>
  <li>
    [Included] <a href="http://colladablender.illusoft.com">Illusoft Collada module</a> (The 3D models of the game are in the <a href="http://www.collada.org">Collada</a> format)
  </li>
  <li>
    [Included] <a href="http://www.mxm.dk/products/public/pythonmidi">MXM Python Midi Package</a> (The song notes are stored in MIDI files)
  </li>
  <li>
    [Included] <a href="http://home.gna.org/oomadness/en/cerealizer/index.html">Cerealizer</a> (Used for saving things into files)
  </li>
  <li>
    [Optional] <a href="http://psyco.sourceforge.net">Psyco specializing compiler</a> (Used for speed optimization)
  </li>
  <li>
    [Optional] <a href="http://glew.sourceforge.net">GLEW OpenGL extension wrangler</a> (Used for render-to-texture support)
  </li>
</ul>

Steps for making a distributable binary from the game can be found in the <a href="http://fretsonfire.svn.sourceforge.net/viewvc/fretsonfire/trunk/install.txt">installation instructions</a>.

<h3>Archived documents</h3>

<p>
<a href="readme_mac.txt">Guide to building the game on Mac OS X</a> and
<a href="fretsonfire-macsupport.zip"> and associated files</a> by Tero Pihlajakoski.
</p>

#end def
