#extends Templates.Page
#def title: How to become a Featured Band

#def content

<h1>How to become a Featured Band</h1>

<p>
  To get your song and a link to your band's site added to the Featured Bands
  list, you should first create a playable version of your song for the game.
  You can find help on doing this from the <a href="/bonus/">community sites</a>,
  such as <a href="http://www.fretsonfire.net/">The Frets on Fire Fan Forum</a>.
</p>

<p>
  Once you have the song ready, contact us and we'll tell you more. Note that
  at this time, we have no resources for hosting songs files made by third
  parties.
</p>

<p>
  We would also appreciate it if you would link back to the
  <a href="http://fretsonfire.sourceforge.net">Frets on Fire site</a>.
</p>

<div id="contentFooter">
</div>
#end def
