#extends Templates.Page
#def title: Documentation

#def content
<h1>Documentation</h1>

<p>
The following game documentation is available:
</p>

<ul>
  <li><a href="howto/">Playing the game</a></li>
  <li><a href="faq/">Frequently asked questions</a></li>
  <li><a href="source/">Source code guide</a></li>
  <li><a href="modding/">Modding guide</a></li>
  <li><a href="charts/">Charts server guide</a></li>
</ul>

#end def
