#extends Templates.Page
#def title: Bonus Content

#def content

<h1>Bonus Content</h1>

<h2>Community</h2>

<ul>
  <li><a href="../charts/">World Charts</a></li>
  <li><a href="http://www.fretsonfire.net/">Fan Forum</a></li>
  <li><a href="http://keyboardsonfire.net/">Keyboards on Fire</a></li>
  <li><a href="http://www.fofspain.com/">FOF Spain</a></li>
  <li><a href="http://www.fofitalia.altervista.org/">FOF Italy</a></li>
  <li><a href="http://www.frenchonfire.fr.nf">French On Fire</a></li>
  <li><a href="http://fofpt.com.sapo.pt/">Frets On Fire Portugal</a></li>
  <li><a href="http://www.finalfret.com">Final Fret</a></li>
  <li><a href="http://www.geetarfreaks.webs.com/">Geetar Freaks</a></li>
  <li><a href="http://fretsonfire.wikidot.com/start">Frets on Fire Wiki</a></li>
  <li><a href="http://frets-on-fire.4umer.net/">Frets on Fire le forum</a></li>
  <li><a href="http://fretsonfire.muux.org/index.php">Frets on Fire Denmark</a></li>
  <li><a href="http://fretsonfire.elvortice.com/">Frets on Fire Argentina</a></li>
  <li><a href="http://frets.pl/">Frets on Fire Poland</a></li>
  <li><a href="http://fretsonfire.ath.cx/">Frets on Fire Brazil</a></li>
</ul>

<h2>Featured Bands [<a href="band-howto/">?</a>]</h2>

<ul>
  <li><a href="http://scenerychannel.com/fof.html">Fasten Me</a> by <a href="http://www.scenerychannel.com">Scenery Channel</a></li>
  <li><a href="http://www2.jazzzmedia.com/rjmf_fof.htm">American Radio</a> by <a href="http://www2.jazzzmedia.com/rjmf.htm ">Rusty Jaz MotorFunk</a></li>
</ul>

<div id="contentFooter">
</div>
#end def
